nav {
background-color: #ED174C;
}

.navbar-size {
width: 95%;
margin: 0 auto;
}
nav .brand-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.user-image-size {
  max-height: 80%;       /* Leaves a 10% gap top and bottom */
  width: auto;          /* Keeps aspect ratio intact */
  object-fit: contain;  /* Prevents distortion */
  vertical-align: middle;
}


.main-body {
background-color: #006BB6;
color: white;
}
.materialboxed-image {
margin: 0 auto;
height: 400px;
}
.click-me-button {
background-color: #FDBB30;
margin-top: 50px;
}

.card {
    background-color: #041E42;
    color: white;
}
.card-content{
    color: white;
}

.card-reveal {
color: white;

}
.card-reveal .card-title,
.card-reveal p {
color: black;
}
